# Basic Data Types

## Integers

In [6]:
a = 10
type(a)

int

In [7]:
a.bit_length()

4

In [8]:
a = 10000000
a.bit_length()

24

In [10]:
googol = 10 ** 100
googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [11]:
googol.bit_length()

333

In [12]:
1 + 4

5

In [13]:
1 / 4

0.25

In [14]:
type(1/4)

float

## Floats

In [15]:
1.6 / 4

0.4

In [16]:
type( 1.6 / 4)

float

In [17]:
b = 0.35
type(b)

float

In [18]:
b + 0.1

0.44999999999999996

In [19]:
c = 0.5
c.as_integer_ratio()

(1, 2)

In [20]:
b.as_integer_ratio()

(3152519739159347, 9007199254740992)

In [60]:
import decimal
from decimal import getcontext, Decimal

In [61]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [62]:
d = Decimal(1) / Decimal(11)
d

Decimal('0.09090909090909090909090909091')

In [66]:
getcontext().prec = 3

In [71]:
e = Decimal(1) / Decimal (11)
e

Decimal('0.09090909090909090909090909091')

## Booleans

In [75]:
import keyword

In [76]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [77]:
4 > 3

True

In [78]:
type(4 > 3)

bool

In [79]:
type(False)

bool

In [80]:
4 >= 3

True

In [81]:
4 < 3

False

In [82]:
4 <= 3

False

In [83]:
4 == 3

False

In [84]:
4 != 3

True

In [85]:
True and True

True

In [86]:
True and False

False

In [87]:
False and False

False

In [88]:
not True

False

In [89]:
not False

True

In [90]:
(4 > 3) and (2 > 3)

False

In [91]:
(4 == 3) or (2 != 3)

True

In [92]:
not (4!= 4)

True

In [93]:
(not (4 != 4)) and (2 == 3)

False

In [95]:
if 4 > 3:
    print('condition True')

condition True

In [96]:
i = 0
while i < 4:
    print('condition True, i= ', i)
    i += 1

condition True, i=  0
condition True, i=  1
condition True, i=  2
condition True, i=  3

In [97]:
int(True)

1

In [98]:
int(False)

0

In [99]:
float(True)

1.0

In [100]:
float(False)

0.0

In [101]:
bool(0)

False

In [102]:
bool(0.0)

False

In [103]:
bool(1)

True

In [104]:
bool(10.5)

True

In [105]:
bool(-2)

True

## Strings

In [106]:
t = 'this is a string object'

In [107]:
t.capitalize()

'This is a string object'

In [108]:
t.split()

['this', 'is', 'a', 'string', 'object']

In [109]:
t.find('string')

10

In [110]:
t.find('Python')

-1

In [113]:
t.replace(' ', '#')

'this#is#a#string#object'

In [115]:
'http://www.python.org'.strip('htp:/')

'www.python.org'

## Excursion

In [116]:
print('Python for Finance')

Python for Finance

In [117]:
print(t)

this is a string object

In [118]:
i = 0
while i < 4:
    print(i)
    i += 1

0
1
2
3

In [119]:
i = 0
while i < 4:
    print(i, end='|')
    i += 1

0|1|2|3|

In [120]:
'this is an integer %d' % 15

'this is an integer 15'

In [121]:
'this is an integer %4d' % 15

'this is an integer   15'

In [122]:
'this is an integer %04d' % 15

'this is an integer 0015'

In [124]:
'this is a float %f' % 15.3456

'this is a float 15.345600'

In [125]:
'this is a float %.2f' % 15.3456

'this is a float 15.35'

In [126]:
'this is a float %8f' % 15.3456

'this is a float 15.345600'

In [127]:
'this is a float %8.2f' % 15.3456

'this is a float    15.35'

In [128]:
'this is a float %08.2f' % 15.3456

'this is a float 00015.35'

In [129]:
'this is a string %s' % 'Python'

'this is a string Python'

In [130]:
'this is a string %10s' % 'Python'

'this is a string     Python'

In [131]:
'this is an integer {:d}'.format(15)

'this is an integer 15'

In [132]:
'this is an integer {:4d}'.format(15)

'this is an integer   15'

In [133]:
'this is an integer {:04d}'.format(15)

'this is an integer 0015'

In [134]:
'this is a float {:f}'.format(15.3456)

'this is a float 15.345600'

In [135]:
'this is a float {:.2f}'.format(15.3456)

'this is a float 15.35'

In [136]:
'this is a float {:8f}'.format(15.3456)

'this is a float 15.345600'

In [137]:
'this is a float {:8.2f}'.format(15.3456)

'this is a float    15.35'

In [138]:
'this is a float {:08.2f}'.format(15.3456)

'this is a float 00015.35'

In [139]:
'this is a string {:s}'.format('Python')

'this is a string Python'

In [140]:
'this is a string {:10s}'.format('Python')

'this is a string Python    '

In [141]:
i = 0
while i < 4:
    print('the number is %d' %i)
    i += 1

the number is 0
the number is 1
the number is 2
the number is 3

In [143]:
i = 0
while i < 4:
    print('the number is {:d}'.format(i))
    i += 1

the number is 0
the number is 1
the number is 2
the number is 3

In [144]:
# Regular Expressions
import re

In [145]:
series = """
'01/18/2014 13:00:00', 100, '1st';
'01/18/2014 13:30:00', 110, '2nd';
'01/18/2014 14:00:00'. 120, '3rd';
"""

In [146]:
dt = re.compile("'[0-9/:\s]+'") #datetime

In [148]:
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [150]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""), '%m/%d/%Y %H:%M:%S')
pydt

datetime.datetime(2014, 1, 18, 13, 0)

In [151]:
print(pydt)

2014-01-18 13:00:00

In [153]:
print(type(pydt))

<class 'datetime.datetime'>

# Basic Data Structures

## Tuple

In [154]:
t = (1, 2.5, 'data')
type(t)

tuple

In [155]:
# you can avoid parentheses, just separate objects with commas:
t = 1, 2.5, 'data'
type(t)

tuple

In [156]:
t[2]

'data'

In [157]:
type(t[2])

str

In [163]:
# this object type provides only two special methods - count() and index()
t.count('data')  #counts the number of occurrences

1

In [164]:
t.index(1)   #gives the index value of the first appearance

0

## List

In [165]:
l = [1, 2.5, 'data']
l[2]

'data'

In [166]:
l = list(t)
l

[1, 2.5, 'data']

In [167]:
type(l)

list

In [168]:
l.append([4,3])
l

[1, 2.5, 'data', [4, 3]]

In [170]:
l.extend([1.0, 1.5, 2.0])
l

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.0, 1.0, 1.5, 2.0]

In [171]:
l.insert(1, 'insert')
l

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.0, 1.0, 1.5, 2.0]

In [172]:
l.remove('data')
l

[1, 'insert', 2.5, [4, 3], 1.0, 1.5, 2.0, 1.0, 1.5, 2.0]

In [173]:
p = l.pop(3)
print(l, p)

[1, 'insert', 2.5, 1.0, 1.5, 2.0, 1.0, 1.5, 2.0] [4, 3]

## Dict

## Set

## Further resources